        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://www.wearhaus.com">{{ 'logo_white_transparent_high_res.png' | asset_url | img_tag }}<a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="http://www.wearhaus.com/ourstory">Our Story</a>
                    </li>
                    <li class="page-scroll">
                        <a href="http://blog.wearhaus.com">Blog</a>
                    </li>
                    <li class="page-scroll">
                        <a href="" data-target="#mailingListModal" data-toggle="modal">Mailing List</a>
                    </li>
                    <li class="page-scroll">
                        <a href="https://wearhaus.zendesk.com/hc/en-us" target="_blank">Support</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/cart" class="cart-toggle" id="cartToggle">
                          <span class="cart-icon-wrapper">
                            <span class="icon-fallback-text">
                              <span class="icon icon-cart" aria-hidden="true"></span>
                            </span>
                            <span class="cart-count{% if cart.item_count == 0 %} hidden-count{% endif %}">{{ cart.item_count }}</span>
                          </span>
                          {{ 'layout.cart.title' | t }}
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
