/*
* shopify_custom.css
* Raymond Kim 2015
*
*
* CSS for main shopify homepage (excluding navbar and footer CSS)
* Note: this CSS is dependent on timber.scss and bootstrap.css
* 
* CSS is organized by TAGS, CLASSES, IDS, and MEDIA QUERIES. Selectors
* and attributes are ordered in alphabetical order. 
*
* This CSS is based on the Solo template with parts of the Brooklyn template
* (e.g., styling for buttons, quantity, and variants for product page)
*
* Useful info: Wearhaus Teal = #00bccc = (0, 188, 204);
*
*/


/* TAGS */

  html, body {
 	max-width: 100%;
  	overflow-x: hidden;
  }

  a,
  body,
  button,
  h1,
  h2,
  h4,
  h5,
  h6,
  select,
  strong,
  textarea {
      font-family: "Lato", arial, sans-serif;
  }

  a,
  h1,
  h2,
  h5,
  h6 {
      font-weight: 300;
      text-transform: uppercase;
  }

  a,
  a:hover,
  a:focus,
  a:active,
  a.active {
      color: lightgray;
      outline: 0;
  }

  body,
  input,
  textarea,
  button,
  select {
  	-webkit-font-smoothing: auto; /* override timber's antialiasing */
  }

  form {
  	margin-top: 25px;
  }

  h1 {
  	color: #00bccc;
  	font-size: 48px;
  	font-weight: 900;
  }

  h2 {
    font-size: 44px;
    font-weight: 900;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 32pt;
    color: white;
  }

  h3 {
  	font-size: 32px;
  	font-weight: 700;
  	color: white;
  }

  h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  input[type='radio']:checked + label {
  	border-color: #999;
  	color: black;
  }

  input[type='radio']:focus + label {
  	background-color: white;
  }

  input[type='submit'], p, span {
  	font-size: 16px;
  }

  label {
  	margin-bottom: 8px;
  }

  strong {
  	color: #00bccc;
  	font-size: 16px;
  }

  th, td {
  	cursor: pointer;
  }

/* CLASSES */

.grid-item .one-half .qty-container input[type="number"] {
	padding: 0;
}

.btn { /* customize bootstrap button styling */
	border-radius: 0 !important;
	font-weight: 700;
	letter-spacing: 0.1em;
	padding: 12px 20px;
	transition: background-color 0.2s ease;
}

	.btn:hover, .btn:focus {
		background-color: #4DCFDB !important;
		color: white !important;
	}

.col-md-6 {
	overflow: auto;
}

#product-section {
    padding-top: 2em;
    padding-bottom: 2em;
	background-color: #ebebeb;
}

.item-product-photo {
    background-color: white;
    padding: 2em;
}

input.js--num {
	background-color: white !important;
}

.color-picker-picture-black-arc, .color-picker-picture-white-arc {
	position: absolute;
}

.description_section {
	clear: both;
	margin-bottom: 15px;
}

.description_section_image {
	float: left;
	height: auto;
	overflow: hidden;
	width: 100%;
}

	.description_section_image img {
		width: 100%;
	}

.description_section_text {
	float: right;
	height: 50%;
	margin-bottom: 20px;
	position: relative;
	width: 100%
}

.description_section_text_inner {
	background-color: #333;
	height: 100%;
	padding: 10px 30px 10px 30px;
	position: relative;
}

	.description_section_text_inner p {
		color: white;
	}

	.description_section_text_inner a {
		color: white;
		text-transform: none;
	}

		.description_section_text_inner a:hover,
		.description_section_text_inner a:focus {
		      transition: color 0.2s ease;
		      color: #00bccc;
		      outline: 0;
		      text-decoration: none;
		}

	.description_section_text_inner:before { /* slanted corner */
		border-color: transparent #fff;
		border-style: solid;
		border-width: 50px 50px 0px 0px;
		bottom: 0;
		content: "";
		display: block;
		position: absolute;
		right: 0;
		width: 0;
	}

	.description_section_text:after {
		border-color: transparent #333;
		border-style: solid;
		border-width: 50px 50px 0px 0px;
		top: -50px;
		content: "";
		display: block;
		position: absolute;
		right: 0;
		width: 0;
	}

.display-inline { /* used to toggle between white and black arc pictures */
	display: inline;
}

.display-none { /* used to toggle between white and black arc pictures */
	display: none;
}

.grid__item {
	float: left;
}

.js--num {
	border-radius: 0;
}

.js--qty input {
	color: black;
}

.product-single {
 	text-align: center;
}

.product-single__add-to-cart {
	padding-top: 5px;
	padding-bottom: 5px;
}

.rte img { /* customize what's in the box css */
	height: auto;
	width: 85%;
}

.rte p {
	margin-bottom: 0px;
}

.product-single__meta--wrapper {
 	padding-left: 45px;
 	padding-right: 25px;
}

.product-single__form {
	text-align: center;
}

.product-single__price {
	font-weight: 900;
	font-size: 24px;
}

.product-single__quantity .jq-quantity-selector,
.product-single__quantity .js-qty {
	display: inline-block;
}

.product-single__quantity-label {
 	margin-right: 10px;
}

.product_single__title {
	font-size: 32px;
}

.single-option-radio {
	border: 0;
	padding: 0 15px 15px 15px;
	position: relative;
}

	.single-option-radio input {  /* hide radio button image */
		clip: rect(0, 0, 0, 0);
		height: 1px;
		margin: 0 10px 0 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	.single-option-radio label {
		border: 1px solid #fff;
		color: #999;
		letter-spacing: 0.05em;
		line-height: 1;
		margin: 3px 4px 1px 3px;
		padding: 12px 11px;
		position: relative;
		text-transform: uppercase;
	}

		.single-option-radio label:hover {
			background-color: lightgray;
			transition: background-color 0.2s ease;
		}

.techspec-arc-diagram {
	left: 0;
	position: absolute;
	top: 290px;
	width: 98%;
}

.techspec-frequency-diagram {
	width: 95%;
}

.wrapper .main-content {
	padding-top: 40px;
	margin-top: 0px;
}

.main-content {
    padding-left: calc(100% - 1100px);
    padding-right: calc(100% - 1100px);
}

/* IDS */

#color-picker {
	height: 640px;
	width: 100%;
	background-color: #333;
}

	#color-picker table {
		height: 200px;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 30px;
		width: 80%;
	}

	#color-picker th, td {
		border: none;
		width: 33.3%;
	}

#color-picker-description {
	float: left;
	height: 100%;
	padding: 50px 0px 50px 0;
	width: 50%;
}

	#color-picker-description form {
		margin: 0 auto;
		padding-left: 0px;
		width: 290px;
	}

	#color-picker-description h1 {
		color: white;
	}

	#color-picker-description input {
		display: inline-block;
	}

	#color-picker-description input[type='radio']:checked + label:before {
		border: #00bccc solid;
  	}

  	#color-picker-description input[type='radio']:focus + label {
  		background-color: transparent;
  	}

   	#color-picker-description input[type='radio'] {
   		display: none;
  	}

 	#color-picker-description label {
		color: white;
		cursor: pointer;
		position: relative;
	}

	#color-picker-description p {
		color: white;
	}

#color-picker-picture {
	float: right;
	height: 100%;
	position: relative;
	width: 50%;
}

	#color-picker-picture img {
		position: absolute;
		/*width: 80%;*/
	}

#product-single__offers {
	text-align: center;
}

#radio-black:before, #radio-white:before {
	border-radius: 13px;
   	bottom: -2px;
	content: "";
   	display: inline-block;
   	height: 26px;
   	left: 0;
   	position: absolute;
   	width: 26px;
   	-webkit-font-smoothing: antialiased;
}

#radio-black {
	padding-left: 35px;
	padding-right: 0px;

}

	#radio-black:before {
	   	background-color: black;
	}

#radio-white {
	padding-left: 50px;
	padding-right: 25px;
}

	#radio-white:before {
		background-color: white;
		border: black 2px solid;
		left: 15px;
	}

#techspec_section {
	background-color: #333;
	height: 564px;
	margin-bottom: 15px;
}

#techspec_section_text {
	float: left;
	height: 100%;
	position: relative;
	width: 55%;
}

#techspec_section_image {
	float: right;
	height: 100%;
	line-height: 314px; /* used to vertically align */
	position: relative; /* to position the collapsed extended arc pic */
	width: 45%;
}

#techspec_section_text_inner {
	padding: 10px 0px 10px 30px;
	height: 100%;
}

	#techspec_section_text_inner p, 
	#techspec_section_text_inner h4 {
		color: white;
	}

	#techspec_section_text_inner p {
	margin: 0px;
	}


/* MEDIA QUERIES */
@media (max-width: 1024px) { /* ipad landscape */

	#color-picker {
		margin-left: -6%;
		width: 112%;
	}

	#color-picker-picture img {
		padding-top: 40px;
		width: 90%;
	}

}

@media (max-width: 968px) {

	.description_section_text {
		height: 45%;
		overflow: hidden;
		width: 100%;
	}

	.description_section_text_inner, #techspec_section_text_inner {
		padding: 10px 50px 10px 50px;
	}

	.techspec-arc-diagram {
		position: static;
	}

	.techspec-arc-diagram, .techspec-frequency-diagram {
		display: block;
		margin: 0 auto;
		width: 500px;
	}

	#color-picker {
		height: 580px;
		margin-left: -3%;
		width: 106%;
	}

		#color-picker table {
			height: 140px;
			width: 80%;
		}

	#color-picker-description {
		padding-left: 50px;
	}

		#color-picker-description h1 {
			font-size: 40px;
		}

	#color-picker-picture img {
		padding-top: 9%;
		width: 90%;
	}

	#techspec_section {
		height: 1100px;
	}

	#techspec_section_text {
		float: none;
		height: 50%;
		width: 100%;
	}

	#techspec_section_text_inner {
		margin: 0 auto;
		padding: 10px 0px 10px 0px;
		width: 500px;
	}

	#techspec_section_image {
		height: 50%;
		width: 100%;
	}
}

@media (max-width: 770px) {

	.description_section_text {
		height: 50%;
	}

	.description_section_text_inner {
		padding: 10px 30px 10px 30px;
	}

	.techspec-arc-diagram, .techspec-frequency-diagram, #techspec_section_text_inner {
		width: 360px;
	}

	.wrapper .main-content {
		margin-top: 10px;
	}

	#color-picker {
		height: 950px;
		margin-left: -3.5%;
		width: 107%;
	}

		#color-picker table {
			height: 150px;
			width: 50%;
		}

	#color-picker-description {
		height: auto;
		padding: 50px 50px 40px 50px;
		width: 100%;
	}

	#color-picker-picture {
		float: left;
		height: 50%;
		overflow: hidden;
		padding: 0px 150px 0px 110px;
		width: 100%;
	}

		#color-picker-picture img {
			height: auto;
			margin-left: 8%;
			padding-top: 0px;
			width: 50%;
		}

	#radio-white {
		margin-bottom: 10px;
	}

	#techspec_section {
		height: 1000px;
	}

	#techspec_section_image {
		height: 42%;
	}

	#techspec_section_text {
		height: 58%;
	}

}

@media (max-width: 530px) {

	h3, h4 {
		font-size: 18px;
		margin-top: 20px;
		margin-bottom: 10px;
	}

	p {
		font-size: 14px;
	}

	.description-section-text-inner p, label {
		font-size: 12px;
	}

	#color-picker {
		height: 800px;
	}

	#color-picker table {
		height: 100px;
	}

	#color-picker-description {
		padding: 50px 50px 10px 50px;
	}

		#color-picker-description form {
			width: 240px;
		}

	#color-picker-picture {
		float: left;
		padding: 0;
		width: 100%;
	}

		#color-picker-picture img {
			margin-left: 18%;
			width: 60%;
		}

	#radio-black {
		padding-left: 25px;
		padding-right: 0px;
	}

	#radio-white {
		padding-left: 40px;
		padding-right: 20px;
	}

	#radio-white:before, #radio-black:before {
		border-radius: 7px;
   		bottom: 2px;
		height: 14px;
		width: 14px;
	}

	#techspec_section {
		height: 900px;
	}

	#techspec_section_text_inner {
		padding: 10px 30px 10px 30px;
		width: 100%;
	}

}

@media (max-width: 480px) { /* smartphone portrait layout */


	h3, h4 {
		margin-top: 12px;
	}

	.description_section {
		height: auto;
	}

	.description_section_text_inner:before {
		border-width: 40px 40px 0px 0px;
	}

	.main-content {
		margin-top: 125px;
	}

	.techspec-arc-diagram, .techspec-frequency-diagram {
		width: 100%;
	}

	.wrapper .main-content {
		margin-top: 20px;
		padding: 0;
	}

	#color-picker {
		margin-left: -7%;
		width: 114%;
	}

	#color-picker-description {
		padding: 50px 35px 10px 60px;
	}

		#color-picker-description h1 {
			font-size: 36px;
		}

	#color-picker-picture {
		height: 40%;
	}

	#techspec_section {
		height: 1000px
	}

	#techspec_section_image {
		height: 40%;
	}

	#techspec_section_text {
		height: 60%;
	}

}