<div class="section-header text-center">
  <h1>{{ 'general.404.title' | t }}</h1>
  <p class="text-center">The page your requested does not exist. Click <a href="/"> here</a> to continue shopping.</p>
</div>
